/* common */
:root {
  --bg-footer: #00439c;
  --dark-blu: #161c3b;
  --light-black: #1f1f1f;
  --light-gray: #bebcbb;
  --btn_red: #cd3d0f;
  --btn-text: #507ce4;
  --btn-light-gray: #d9dadc;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utility */
.my_cursor_pointer {
  cursor: pointer;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-13 {
  font-size: 13px;
}

.my-text-gray {
  color: #777777;
}
/* header */
ul {
  list-style: none;
  padding-left: 0rem !important;
}

a {
  text-decoration: none;
}

.link-text {
  color: black;
  font-size: 12px;
}

.dropdown-item:hover {
  box-shadow: 1px 0px 4px 3px #e9ecef;
  background-color: white;
}

.li-row {
  display: inline-block;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  border: none;
  font: var(--fa-font-solid);
  content: "\f107";
}

.dropdown-toggle.show::after {
  content: "\f106";
}

.dropdown_img {
  height: 3rem;
}

.dropdown-menu ul .circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--bg-footer);
}

.dropdown-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

/* main */
.jumbotron {
  width: 100%;
  height: 500px;
  background-image: url("img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo_bottom .cards img {
  border-radius: 12px;
}

.jumbo_bottom .cards {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  animation: bounce-out 1s;
}

.jumbo_bottom .cards:hover {
  animation: bounce-in 2s infinite;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 3px #0072ce;
}

@keyframes bounce-in {
  0% {
    bottom: 0;
    left: 0;
  }
  1% {
    bottom: 15px;
    left: 0;
  }
  100% {
    bottom: 15px;
    left: 0;
  }
}

@keyframes bounce-out {
  0% {
    bottom: 15px;
    left: 0;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

.nuove-uscite img {
  border-radius: 15px;
}
.reg {
  font-size: 15px;
  vertical-align: super;
}

.plays5 .my-active {
  opacity: 75%;
  transition: 0.25s;
  cursor: pointer;
}

.plays5 .my-active:hover {
  border-bottom: 3px solid #0072ce;
  opacity: 100%;
}

.nuove-uscite {
  background-color: var(--light-black);
}

.playsplus {
  background-color: var(--light-gray);
}

.playsnow {
  background-color: var(--dark-blu);
}

.avventura {
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.btn-primary:hover {
  outline: 2px solid rgb(56, 56, 236);
  outline-offset: +2px;
}
.btn_red:hover {
  outline: 2px solid black;
  outline-offset: -4px;
}

.btn_red {
  background-color: var(--btn_red);
  color: white !important;
}

.btn_gray:hover {
  outline: 2px solid gainsboro;
  outline-offset: +1px;
}
.btn_gray {
  background-color: var(--btn-light-gray);
  color: var(--btn-text) !important;
  font-weight: bold;
}

.btn_white:hover {
  outline: 2px solid black;
  outline-offset: -4px;
}
.btn_white {
  background-color: white;
  color: black;
  font-weight: bold;
}
/* End-main */

/* footer */
#site_footer {
  background-color: var(--bg-footer);
}

footer .container .row .col.top {
  line-height: 20px;
}

footer .container .row .col.bottom a {
  text-decoration: underline;
}

/* media-query */
@media (max-width: 768px) {
  .right {
    display: none;
  }
}
