:root {
  --bg-footer: #00439c;
  --dark-blu: #161c3b;
  --light-black: #1f1f1f;
  --light-gray: #bebcbb;
  --btn_red: #cd3d0f;
  --btn-text: #507ce4;
  --btn-light-gray: #d9dadc;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  width: 100%;
  height: 500px;
  background-image: url("img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-s-15 {
  font-size: 15px;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-20 {
  font-size: 20px;
}

.jumbo-item img {
  border-radius: 10px;
  cursor: pointer;
}

.jumbo-item img:hover {
  transition: 0.5s;
  transform: translate(0, -15%);
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 3px #0072ce;
}

.nuove-uscite img {
  border-radius: 15px;
}

.plays5 .my-active {
  opacity: 75%;
  transition: 0.5s;
  cursor: pointer;
}

.plays5 .my-active:hover {
  border-bottom: 2px solid #0072ce;
  opacity: 100%;
}

.my-text-gray {
  color: #777777;
}

.my-text-blue {
  color: #0072ce;
}

.avventura {
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.btn-primary:hover {
  outline: 2px solid rgb(56, 56, 236);
  outline-offset: +2px;
}
.btn_red:hover {
  outline: 2px solid black;
  outline-offset: -4px;
}
.btn_red {
  background-color: var(--btn_red);
  color: white !important;
}

.btn_gray:hover {
  outline: 2px solid gainsboro;
  outline-offset: +1px;
}
.btn_gray {
  background-color: var(--btn-light-gray);
  color: var(--btn-text) !important;
  font-weight: bold;
}

.btn_white:hover {
  outline: 2px solid black;
  outline-offset: -4px;
}
.btn_white {
  background-color: white;
  color: black;
  font-weight: bold;
}

.nuove-uscite {
  background-color: var(--light-black);
}

.my_cursor_pointer {
  cursor: pointer;
}

.playsplus {
  background-color: var(--light-gray);
}

.playsnow {
  background-color: var(--dark-blu);
}

#site_footer {
  background-color: var(--bg-footer);
}

a {
  text-decoration: none;
}

footer .container .row .col.top {
  line-height: 20px;
}

ul {
  list-style: none;
}

footer .container .row .col.bottom a {
  text-decoration: underline;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  border: none;
  font: var(--fa-font-solid);
  content: "\f107";
}

.dropdown-toggle.show::after {
  content: "\f106";
}

@media (max-width: 768px) {
  .right {
    display: none;
  }
}
