:root {
  --bg-footer: #00439c;
  --dark-blu: #161c3b;
  --light-black: #1f1f1f;
  --light-gray: #bebcbb;
  --btn_red: #cd3d0f;
  --btn-text: #507ce4;
  --btn-light-gray: #d9dadc;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  width: 100%;
  height: 500px;
  background-image: url("img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-s-15 {
  font-size: 15px;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-20 {
  font-size: 20px;
}
.jumbo-item img {
  border-radius: 15px;
}

.nuove-uscite img {
  border-radius: 15px;
}

.jombo-bottom .my-active {
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072ce;
}

.plays5 .container-xl .row .my-active {
  border-bottom: 2px solid #0072ce;
  cursor: pointer;
}

.jumbo_bottom {
  height: 120px;
}

.my-text-gray {
  color: gray;
}

.my-text-blue {
  color: #0072ce;
}

.plays5 {
  background-color: white;
}

.avventura {
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
}

.btn_red {
  background-color: var(--btn_red);
  color: white;
}

.btn_gray {
  background-color: var(--btn-light-gray);
  color: var(--btn-text);
  font-weight: bold;
}
.nuove-uscite {
  background-color: var(--light-black);
}

.my_cursor_pointer {
  cursor: pointer;
}

.plays4 {
  height: 500px;
}
.playsplus {
  background-color: var(--light-gray);
  background-image: url("img/ps-plus-april-monthly-games-featured-image-block.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}

.sconti {
  background-color: hotpink;
  height: 500px;
}

.playsnow {
  background-color: darkmagenta;
  height: 300px;
}

.media {
  background-color: lightgreen;
}

#site_footer {
  background-color: var(--bg-footer);
  height: 400px;
}
